{% extends "mangas/layout.html" %}
{% load static %}
{% block body %}
    <script>
document.addEventListener('DOMContentLoaded', function () {
  try {
  var input = document.querySelector("#search")
  input.addEventListener("keyup", () => {
    document.querySelector("#results").innerHTML = "";
    let value = (input.value)
    fetch(`searchresponse/${value}`).then((response) => response.json()).then((results) => {
      results.forEach(function (result) {
        var mangaid = (result["id"])
        document.querySelector("#results").insertAdjacentHTML('beforeend', `<a class="result" id="result${mangaid}">${result["title"]}</a>`);
        document.getElementById("result"+mangaid).addEventListener("click", () => {
          window.location.href = "{% url 'manga' 12345 %}".replace(/12345/, mangaid)
        })
      })
    })
  })
}
catch (error) {
}
})
    </script>
    <br>
    <div class="manganum" id="{{ length }}">
        <h1>Results for {{ genre }}</h1>
        <form id="searchform" action="{% url 'search' %}" method="GET">
            <input id="search" type="text" name="q" placeholder="Search" />
            <div>
                <button class="btn btn-success" id="submit">Search Manga</button>
            </div>
        </form>
        <div id="results"></div>
        <br>
        <br>
        <div id="mangas">
            {% for manga, rating in mangas %}
                <div class="manga">
                    <h3 id="rated">Star to rate</h3>
                    <div data-name="{{ manga.id }}" class="stars" data-rating="{{ rating }}"></div>
                    {% csrf_token %}
                    <a id="title" href="{% url 'manga' manga.id %}">
                        <h2>{{ manga.title }}</h2>
                        <img class="image" src="{{ manga.cover.url }}">
                        {{ manga.Description }}
                    </a>
                    <br />
                    {% for genre in manga.genre.all %}
                        <a class="btn btn-secondary"
                           id="genre"
                           href="{% url 'genresearch' genre.id %}">{{ genre }}</a>
                    {% endfor %}
                    {% if manga.chapters.last %}
                        <div>
                            Latest Chapter: <a href="{% url 'chapter' manga.id manga.chapters.first.id %}">Chapter {{ manga.chapters.first.chapter }}</a>
                        </div>
                    {% else %}
                        <div>Latest Chapter: To be added</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
